<div class="mall-checkout-result mall-checkout-result--failed">
    {% if __SELF__.order %}
        <h3 class="mall-checkout-result__heading">{{ 'mall.checkout.payment.failed.heading' | _ }}</h3>
        <p>{{ 'mall.checkout.payment.failed.line_1' | _ }}</p>
        <p>{{ 'mall.checkout.payment.failed.line_2' | _ }}</p>
        {% if __SELF__.paymentError %}
            <p>
                {{ 'mall.checkout.payment.failed.line_3' | _ }}<br/>
                <strong>{{ __SELF__.paymentError }}</strong>
            </p>
        {% endif %}
    {% else %}
        <h3 class="mall-checkout-result__heading">{{ 'mall.checkout.order.failed.heading' | _ }}</h3>
        <p>{{ 'mall.checkout.order.failed.line_1' | _ }}</p>
    {% endif %}
    {% partial __SELF__ ~ '::resultactions' %}
</div>