subject = "{{ 'offline.mall::mail.customer.created.subject' | trans() }} {{ user.customer.firstname }}!"
description = "Sent after a customer signs up"
==

{{ 'offline.mall::mail.common.hello' | trans() }} {{ order.customer.firstname }}

{% if confirm %}
    {{ 'offline.mall::mail.customer.created.confirm_mail' | trans() }}
{% else %}
    {{ 'offline.mall::mail.customer.created.created_message.0' | trans() }} {{ user.email }}
    {{ 'offline.mall::mail.customer.created.created_message.1' | trans() }}
{% endif %}

{{ 'offline.mall::mail.customer.created.possibilities' | trans() }}

{% partial 'button' url=(confirm ? confirm_url : app_url) type='primary' body %}
    {{ confirm ? 'offline.mall::mail.customer.created.button.confirm' | trans() : 'offline.mall::mail.customer.created.button.visit_store' | trans() }}
{% endpartial %}
