{% if type %}
    {% set type = (type ~ '_') %}
{% endif %}
<div class="mall-form-control">
    <label for="{{ type }}company">{{ 'offline.mall::frontend.form.company' | trans }}</label>
    <input id="{{ type }}company" type="text"
           value="{{ address.company }}"
           placeholder="{{ 'offline.mall::frontend.form.company_placeholder' | trans }}" name="{{ type }}company">
    <div data-validate-for="{{ type }}company"></div>
</div>
<div class="mall-form-control">
    <label for="{{ type }}address_name">{{ 'offline.mall::frontend.form.recipient' | trans }}</label>
    <input id="{{ type }}address_name" type="text"
           value="{{ address.name }}"
           placeholder="{{ 'offline.mall::frontend.form.recipient_placeholder' | trans }}"
           name="{{ type }}address_name">
    <div data-validate-for="{{ type }}address_name"></div>
</div>
<div class="mall-form-control">
    <label for="{{ type }}lines">{{ 'offline.mall::frontend.form.address_lines' | trans }}</label>
    <textarea id="{{ type }}lines" type="text" name="{{ type }}lines">{{ address.lines }}</textarea>
    <div data-validate-for="{{ type }}lines"></div>
</div>
<div class="mall-two-fields">
    <div class="mall-form-control">
        <label for="{{ type }}zip">{{ 'offline.mall::frontend.form.zip' | trans }}</label>
        <input id="{{ type }}zip" name="{{ type }}zip" type="text"
               value="{{ address.zip }}">
        <div data-validate-for="{{ type }}zip"></div>
    </div>
    <div class="mall-form-control">
        <label for="{{ type }}city">{{ 'offline.mall::frontend.form.city' | trans }}</label>
        <input id="{{ type }}city" name="{{ type }}city" type="text"
               value="{{ address.city }}">
        <div data-validate-for="{{ type }}city"></div>
    </div>
</div>
<div class="{{ __SELF__.useState ? 'mall-two-fields' }}" id="countryState">
    {% partial __SELF__ ~ '::countrystate' type=type countryId=address.country_id stateId=address.state_id %}
</div>