<?php if ($this->previewMode): ?>
    <div class="form-control">
        <?= json_encode($values) ?>
    </div>
<?php else: ?>
    <?php
    if($fields):
        foreach($fields as $i => $field):
            $value = $values->where('property_id', $field->id)->first();
            $currentValue = $value ? $value->value : '';
        ?>
            <div class="form-group span-<?= $i % 2 ? 'left' : 'right' ?>">
                <?= $this->createFormWidget($field, $currentValue); ?>
            </div>
        <?php endforeach; ?>
    <?php endif ?>
<?php endif ?>