<div class="mall-filter mall-filter--range">

    <div class="mall-slider-handles"
         data-start="{{ filter[hashId].minValue | default(min) }}"
         data-end="{{ filter[hashId].maxValue | default(max) }}"
         data-min="{{ min }}"
         data-max="{{ max }}"
         data-target="{{ hashId }}"
         style="width: 100%"></div>

    <input data-min="{{ hashId }}"
           type="hidden" name="filter[{{ hashId }}][min]"
           value="{{ filter[hashId].minValue }}">
    <input data-max="{{ hashId }}"
           type="hidden" name="filter[{{ hashId }}][max]"
           value="{{ filter[hashId].maxValue }}">
</div>