{% put scripts %}
    <script>
        $(function () {
            var $propertiesForm = $('.mall-category-properties');

            $('body').on('click', '.js-mall-filter', function () {
                var $input = $(this).find('input');
                $input.prop('checked', !$input.prop('checked'));
                $propertiesForm.trigger('submit');
            });

            $propertiesForm.on('submit', function (e) {
                e.preventDefault();

                $.publish('mall.category.filter.start')
                $(this).request('{{ __SELF__ }}::onSetFilter', {
                    loading: $.oc.stripeLoadIndicator,
                    update: {'{{ __SELF__ }}::properties': '.mall-category-properties'},
                    complete: function (response) {
                        $.oc.stripeLoadIndicator.hide()
                        if (response.responseJSON.hasOwnProperty('queryString')) {
                            history.replaceState(null, '', '?' + response.responseJSON.queryString)
                        }
                        $.publish('mall.category.filter.complete')
                    },
                    error: function () {
                        $.oc.stripeLoadIndicator.hide()
                        $.oc.flashMsg({text: 'Fehler beim Ausführen der Suche.', class: 'error'})
                        $.publish('mall.category.filter.error')
                    }
                });
            });
        })
    </script>
{% endput %}