<div class="mall-property-group">
    <div class="mall-property-group__name" for="mall-sorter">
        {{ 'mall.sort_order' | _ }}
    </div>
    <div class="mall-filter">
        <div class="mall-form-control">
            <select name="sort" id="mall-sorter" class="js-mall-sorter">
                {% for key, option in __SELF__.sortOptions %}
                    <option value="{{ key }}" {{ key == __SELF__.sortOrder ? 'selected' }}>{{ option.label }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
</div>