<div class="mall-property-group">
    <div class="mall-property-group__name">
        {{ 'offline.mall::frontend.brands' | trans }}
    </div>
    <div class="mall-filter">
        <div class="mall-form-control">
            {% set selected = filter['brand'].values %}
            <select name="filter[brand][]" id="mall-brands" class="js-mall-select-filter">
                <option value="">-- {{ 'offline.mall::frontend.show_all' | trans }}</option>
                {% for brand in __SELF__.brands %}
                    <option value="{{ brand.slug }}" {{ brand.slug in selected ? 'selected' }}>
                        {{ brand.name }}
                    </option>
                {% endfor %}
            </select>
        </div>
    </div>
</div>