<div class="mall-filter-category-list mall-filter-category-list--level-{{ level }} {{ level > 1 ? 'mall-filter-category-list--nested' }}">
    {% for category in categories %}
        {% set isSelected = category.id in selected %}

        <label for="category-{{ category.id }}" class="mall-label mall-label--checkbox">
            <input
                type="checkbox"
                class="mall-input-checkbox"
                id="category-{{ category.id }}"
                name="filter[category_id][]"
                value="{{ category.id }}"
                onchange="$(this).closest('form').trigger('submit')"
                {{ isSelected ? 'checked' : '' }}
            >
            {{ category.name }}
        </label>

        {% if category.children|length > 0 %}
            {% partial __SELF__ ~ '::category_checkboxes' categories=category.children level=level+1 %}
        {% endif %}
    {% endfor %}
</div>
