{% set values = __SELF__.values[property.id] %}
{% if values.count > 0 %}
    <div class="mall-property">
        <div class="mall-property__label">
            <div>{{ property.name }}</div>
            {% partial __SELF__ ~ '::clearfilter' id=property.slug %}
        </div>

        {% if property.pivot.filter_type == 'range' %}
            {% set min = __SELF__.getMinValue(values) %}
            {% set max = __SELF__.getMaxValue(values) %}
        {% endif %}

        {% partial __SELF__ ~ '::' ~ property.pivot.filter_type
            id  = property.id
            slug = property.slug
            values = values
            min = min
            max = max %}
    </div>
{% endif %}