<div class="mall-property-group">
    <div class="mall-property-group__name" for="mall-sorter">
        {{ 'offline.mall::frontend.sort_order' | trans }}
    </div>
    <div class="mall-filter">
        <div class="mall-form-control">
            <select name="sort" id="mall-sorter" class="js-mall-select-filter">
                {% for key, option in __SELF__.sortOptions %}
                    <option value="{{ key }}" {{ key == __SELF__.sortOrder ? 'selected' }}>
                        {{ option.label | default(option) }}
                    </option>
                {% endfor %}
            </select>
        </div>
    </div>
</div>
