<div class="mall-category-item">
    <a href="{{ productPage|page({slug: item.slug, variant: item.variantId}) }}">
        <div class="mall-category-item__image">
            <img src="{{ item.image.thumb('auto', 240) }}" alt="{{ item.name }}"/>
        </div>
        <div class="mall-category-item__info">
            <div class="row flex">
                <div class="mall-category-item__name">
                    {{ item.name }}
                </div>
                <div class="mall-category-item__price">
                    {{ item.priceInCurrencyFormatted() | raw }}
                </div>
            </div>
            <div class="row flex">
                <div class="mall-category-item__short-description">
                    {{ item.description_short }}
                </div>
                <div class="mall-category-item__old-price">
                    {{ d(item.oldPriceInCurrencyFormatted()) }}
                    {{ item.oldPrice.count > 0 ? (item.oldPriceInCurrencyFormatted() | raw) : '' }}
                </div>
            </div>
        </div>
    </a>
</div>