{% put scripts %}
    <script>
        $(function () {
            $.subscribe('mall.category.filter.start', function() {
                $('.mall-category').find('.mall-loader').css({opacity: 1, visibility: 'visible'})
            });

            $.subscribe('mall.category.filter.complete', function () {
                $.request('{{ __SELF__ }}::onRun', {
                    update: {'{{ __SELF__ }}::entries': '.mall-category'},
                });
            });
        })
    </script>
{% endput %}