<div class="mall-products-item">
    <a href="{{ productPage|page({slug: item.slug, variant: item.variantHashId}) }}"
       data-mall-item-id="{{ item.prefixedId }}"
    >
        <div class="mall-products-item__image">
            {% partial __SELF__ ~ '::image' image=item.image %}
        </div>
        <div class="mall-products-item__info">
            <div class="mall-products-item__info-primary">
                <div class="mall-products-item__name">
                    {{ item.name }}
                </div>
                {% set price = item.price() %}
                <div class="mall-products-item__price
                    {{ price.isCustomerSpecific ? 'mall-products-item__price--special' }}">
                    {{ price.string | raw }}
                </div>
            </div>
            <div class="mall-products-item__info-secondary">
                <div class="mall-products-item__short-description">
                    {{ item.description_short | nl2br }}
                </div>
                <div class="mall-products-item__old-price">
                    {% if price.official %}
                        {{ price.official.string | raw }}
                    {% else %}
                        {{ item.oldPrice.count > 0 ? item.oldPrice().string | raw }}
                    {% endif %}
                </div>
            </div>
            <div class="mall-products-item__info-teritary">
                {% set rating = item.reviews_rating %}
                {# To display the product's rating use: #}
                {# set rating = item.product.reviews_rating #}
                {% if rating > 0 %}
                    <div class="mall-products-item__stars">
                        {% partial __SELF__ ~ '::stars' rating=rating %}
                    </div>
                {% endif %}
            </div>
        </div>
    </a>
</div>
