<div class="mall-two-fields mall-two-fields--number-cvv">
    <div class="mall-form-control">
        <label>{{ 'mall.payment_method.card_number' | _ }}</label>
        <input type="text" name="payment_data[number]">
        <div data-validate-for="number"></div>
    </div>
    <div class="mall-form-control">
        <label>{{ 'mall.payment_method.card_cvv' | _ }}</label>
        <input type="text" name="payment_data[cvv]">
        <div data-validate-for="cvv"></div>
    </div>
</div>
<div class="mall-two-fields mall-two-fields--expiration">
    <div class="mall-form-control">
        <label>{{ 'mall.payment_method.card_expiry_month' | _ }}</label>
        <input type="text" name="payment_data[expiryMonth]">
        <div data-validate-for="expiryMonth"></div>
    </div>
    <div class="mall-form-control">
        <label>{{ 'mall.payment_method.card_expiry_year' | _ }}</label>
        <input type="text" name="payment_data[expiryYear]">
        <div data-validate-for="expiryYear"></div>
    </div>
</div>