{% set labelStyle = 'block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2' %}
{% set inputStyle = 'appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded py-3 px-4 mb-3' %}
<div class="-mx-3 md:flex mb-6">
    <div class="md:w-1/2 px-3 mb-6 md:mb-0">
        <label class="{{ labelStyle }}" for="{{ type }}_company">Company</label>
        <input class="{{ inputStyle }}" id="{{ type }}_company" type="text"
               placeholder="Leave plank if you are a private person" name="{{ type }}_company">
        <p class="text-red text-xs italic" data-validate-for="{{ type }}_company"></p>
    </div>
    <div class="md:w-1/2 px-3">
        <label class="{{ labelStyle }}" for="{{ type }}_address_name">Recipient's name</label>
        <input class="{{ inputStyle }}" id="{{ type }}_address_name" type="text"
               placeholder="Leave blank if this is you"
               name="{{ type }}_address_name">
        <p class="text-red text-xs italic" data-validate-for="{{ type }}_address_name"></p>
    </div>
</div>
<div class="-mx-3 md:flex mb-6">
    <div class="md:w-full px-3">
        <label class="{{ labelStyle }}" for="{{ type }}_lines">Address lines</label>
        <textarea class="{{ inputStyle }}" id="{{ type }}_lines" type="text" name="{{ type }}_lines"></textarea>
        <p class="text-red text-xs italic" data-validate-for="{{ type }}_lines"></p>
    </div>
</div>
<div class="-mx-3 md:flex mb-2">
    <div class="md:w-1/2 px-3">
        <label class="{{ labelStyle }}" for="{{ type }}_zip">Zip</label>
        <input class="{{ inputStyle }}" id="{{ type }}_zip" name="{{ type }}_zip" type="text">
        <p class="text-red text-xs italic" data-validate-for="{{ type }}_zip"></p>
    </div>
    <div class="md:w-1/2 px-3 mb-6 md:mb-0">
        <label class="{{ labelStyle }}" for="{{ type }}_city">City</label>
        <input class="{{ inputStyle }}" id="{{ type }}_city" name="{{ type }}_city" type="text">
        <p class="text-red text-xs italic" data-validate-for="{{ type }}_city"></p>
    </div>
    <div class="md:w-1/2 px-3 mb-6 md:mb-0">
        <label class="{{ labelStyle }}" for="{{ type }}_county_province">State/County/Province</label>
        <input class="{{ inputStyle }}" id="{{ type }}_county_province" name="{{ type }}_county_province" type="text">
        <p class="text-red text-xs italic" data-validate-for="{{ type }}_county_province"></p>
    </div>
</div>
<div class="-mx-3 md:flex mb-2">
    <div class="md:w-full px-3">
        <label class="{{ labelStyle }}" for="{{ type }}_country_id">Country</label>
        <div class="relative">
            <select class="{{ inputStyle }} pr-8" id="{{ type }}_country_id" name="{{ type }}_country_id">
                {% for country in countries %}
                    <option value="{{ country.id }}">{{ country.name }}</option>
                {% endfor %}
            </select>
            <div class="pointer-events-none absolute pin-y pin-r flex items-center px-2 text-grey-darker">
                <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                    <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/>
                </svg>
            </div>
        </div>
        <p class="text-red text-xs italic" data-validate-for="{{ type }}_country_id"></p>
    </div>
</div>