{% set labelStyle = 'block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2' %}
{% set inputStyle = 'appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded py-3 px-4 mb-3' %}
<form class="w-full max-w-md" data-request="onSignup" data-request-validate>
    <div class="-mx-3 md:flex mb-6">
        <div class="md:w-1/2 px-3 mb-6 md:mb-0">
            <label class="{{ labelStyle }}" for="name">Your name</label>
            <input class="{{ inputStyle }}" id="name" type="text" placeholder="First and last name" name="name">
            <p class="text-red text-xs italic" data-validate-for="name"></p>
        </div>
        <div class="md:w-1/2 px-3">
            <label class="{{ labelStyle }}" for="email">Your email</label>
            <input class="{{ inputStyle }}" id="email" type="email" placeholder="email@example.com" name="email">
            <p class="text-red text-xs italic" data-validate-for="email"></p>
        </div>
    </div>
    {% if not asGuest %}
        <div class="-mx-3 md:flex mb-6">
            <div class="md:w-1/2 px-3 mb-6 md:mb-0">
                <label class="{{ labelStyle }}" for="password">Password</label>
                <input class="{{ inputStyle }}" id="password" type="password" name="password">
                <p class="text-red text-xs italic" data-validate-for="password"></p>
            </div>
            <div class="md:w-1/2 px-3">
                <label class="{{ labelStyle }}" for="password_repeat">Repeat password</label>
                <input class="{{ inputStyle }}" id="password_repeat" type="password" name="password_repeat">
                <p class="text-red text-xs italic" data-validate-for="password_repeat"></p>
            </div>
        </div>
    {% endif %}
    <div class="mall-billing-address">
        <div class="-mx-3 md:flex mb-6">
            <div class="md:w-full px-3">
                <h3>Billing address</h3>
            </div>
        </div>
        {% partial __SELF__ ~ '::addressForm' type='billing' %}

        <label class="block text-grey-dark font-bold">
            <input class="js-mall-toggle-shipping-address mr-2" type="checkbox"
                   name="use_different_shipping" value="1">
            <span class="text-sm">
                Use a different address for shipping
            </span>
        </label>
    </div>
    <div class="mall-shipping-address mt-6 hidden">
        <div class="-mx-3 md:flex mb-6">
            <div class="md:w-full px-3">
                <h3>Shipping address</h3>
            </div>
        </div>
        {% partial __SELF__ ~ '::addressForm' type='shipping' %}
    </div>

    <div class="-mx-3 md:flex mb-2 mt-6 border-t border-grey-light">
        <div class="md:w-full px-3 pt-6">
            <input type="hidden" name="as_guest" value="{{ asGuest ? 1 : 0 }}">
            <button class="bg-blue hover:bg-blue-dark text-white font-bold py-3 px-4 rounded" type="submit">
                Create account
            </button>
        </div>
    </div>
</form>
