{% put scripts %}
    <script>
        $(function () {
            var $body = $('body');
            var $overlay = $('.mall-overlay');

            $body.on('click', '.js-mall-checkout', function () {
                $overlay.prependTo($body).show()
                $.request('{{ __SELF__ }}::onCheckout', {
                    error: function(data) {
                        this.error(data)
                        $overlay.hide();
                    }
                })
            });

            $.subscribe('mall.shipping.update', function () {
                $.request('{{ __SELF__ }}::onRun', {
                    update: {'{{ __SELF__ }}::actions': '.mall-actions'},
                })
            });
        })
    </script>
{% endput %}