<div class="mall-cart-summary">
    <div class="mall-cart-summary__info">
        <div class="mall-cart-summary__billing-address">
            <h4 class="mall-cart-summary__heading">{{ 'offline.mall::frontend.billing_address' | trans }}</h4>
            {% component 'billingAddressSelector' %}
        </div>
        <div class="mall-cart-summary__shipping-address">
            <h4 class="mall-cart-summary__heading">{{ 'offline.mall::frontend.shipping_address' | trans }}</h4>
            {% component 'shippingAddressSelector' %}
        </div>
        <div class="mall-cart-summary__payment-method">
            <h4 class="mall-cart-summary__heading">{{ 'offline.mall::frontend.payment_method' | trans }}</h4>
            <div>
                {% partial __SELF__ ~ '::paymentmethod' %}
            </div>
        </div>
        <div class="mall-cart-summary__shipping-method">
            <h4 class="mall-cart-summary__heading">{{ 'offline.mall::frontend.shipping_method' | trans }}</h4>
            <div>
                {% partial __SELF__ ~ '::shippingmethod' %}
            </div>
        </div>
    </div>
</div>