
{% if order.tracking_number or order.tracking_url %}
    {{ 'offline.mall::mail.order.partials.track_shipping_status' | trans() }}
    {% partial 'panel' body %}
        {% if order.tracking_number %}
            {{ 'offline.mall::lang.order.tracking_number' | trans }}: {{ order.tracking_number }}
        {% endif %}
        <br />
        {% if order.tracking_url %}
            {{ 'offline.mall::lang.order.tracking_url' | trans }}: [{{ order.tracking_url }}]({{ order.tracking_url }})
        {% endif %}
    {% endpartial %}
{% endif %}