
{% if order.tracking_number or order.tracking_url %}
    You can track the shipping status of your order with the following information:
    {% partial 'panel' body %}
        {% if order.tracking_number %}
            {{ 'offline.mall::lang.order.tracking_number' | trans }}: {{ order.tracking_number }}
        {% endif %}
        {% if order.tracking_url %}
            {{ 'offline.mall::lang.order.tracking_url' | trans }}: [{{ order.tracking_url }}]({{ order.tracking_url }})
        {% endif %}
    {% endpartial %}
{% endif %}