{% for category in categories %}
    {% set  displayQuantity = __SELF__.displayQuantity %}
    {% set productsCount = category.products_count.first.count %}
    <li class="mall-category-item group {% if category.slug in url_current() %}active{% endif %}">
        <a href="{{ category.url }}">{{ category.name }}</a> 
        {% if displayQuantity %}
            {% if productsCount %}
               <span class="mall-badge">{{ productsCount }}</span>
            {% endif %}
        {% endif %}

        {% if category.children|length > 0 %}
            <ul class="mall-category-subitem group-hover:block">
                {% partial __SELF__ ~ "::items"
                    categories=category.children
                    currentCategorySlug=currentCategorySlug
                %}
            </ul>
        {% endif %}
    </li>
{% endfor %}
