{% set fieldId = 'field-' ~ field.hashId %}
<div class="mall-form-control">
    <label for="{{ fieldId }}" class="mall-label">{{ field.name }}</label>
    <input type="hidden" data-mall-custom-field id="{{ fieldId }}" name="fields[{{ field.hashId }}]"
           data-id="{{ item.property.hashId }}">
    <div class="mall-field-image-selector">
        {% for option in field.custom_field_options %}
            <a class="mall-option-selector" data-target="#{{ fieldId }}" data-value="{{ option.hashId }}">
                <img src="{{ option.image.thumb(90, 90, 'auto') }}" alt=""/>
            </a>
        {% endfor %}
    </div>
    <div data-validate-for="{{ field.hashId }}"></div>
</div>