{% set isActiveMethod = cart.shipping_method.id == method.id %}
<div class="mall-shipping-method__entry js-mall-select-shipping-method
     {{ isActiveMethod ? 'mall-shipping-method__entry--active' : '' }}"
     data-id="{{ method.id }}"
>
    <div class="mall-shipping-method__logo">
        {% if method.logo %}
            <img class="mall-shipping-method__logo" src="{{ method.logo.thumb(120, 'auto') }}" alt=""/>
        {% endif %}
    </div>
    <div class="mall-shipping-method__text">
        <div>
            <div class="mall-shipping-method__heading">
                <div class="mall-shipping-method__name">{{ method.name }}</div>
                <div class="mall-shipping-method__meta">
                    {% if method.guaranteed_delivery_days %}
                        <div class="mall-shipping-method__delivery-days">
                            {% set days = method.guaranteed_delivery_days %}
                            {{ 'mall.shipping_method.guaranteed_delivery_days' | __(days, {days: days}) }}
                        </div>
                    {% endif %}
                    <div class="mall-shipping-method__price">
                        {{ method.price > 0 ? (method.price() | raw) : ('mall.no_additional_charges' | _) }}
                    </div>
                </div>
            </div>
            <div class="mall-shipping-method__toggle"
                 style="{% if not isActiveMethod %}display: none{% endif %}">
                {% if method.description %}
                    <div class="mall-shipping-method__description">
                        {{ method.description | raw }}
                    </div>
                {% endif %}
                <div class="mall-shipping-method__submit">
                    <button class="mall-btn mall-btn--primary" type="submit" data-attach-loading>
                        {{ 'mall.shipping_method.proceed' | _ }}
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="mall-shipping-method__selector">
        {% if not isActiveMethod %}
            <button class="mall-shipping-method__select-button"
                    data-attach-loading
                    data-request="{{ __SELF__ }}::onChangeMethod"
                    data-request-data="id: '{{ method.id }}'">
                {{ 'mall.shipping_method.button_label' | _ }}
            </button>
        {% endif %}
    </div>
</div>