{% put scripts %}
    <script>
        $(function () {
            {# Track the quantity selector and reload available shipping
               methods if the quantity and therefore the totals have changed. #}
            $.subscribe('mall.cart.update', reloadShippingMethods)
            $.subscribe('mall.discounts.applied', reloadShippingMethods)

            function reloadShippingMethods () {
                $.request('{{ __SELF__ }}::onRun', {
                    update: {'{{ __SELF__ }}::selector': '.mall-shipping-selector'},
                    success: function (data) {
                        $('.mall-shipping-selector').html(data['{{ __SELF__ }}::selector'])
                    }
                })
            }

            $('body').on('click', '.js-mall-select-shipping', function () {
                $.request('{{ __SELF__ }}::onSelect', {
                    data: {id: this.dataset.id},
                    update: {'{{ __SELF__ }}::selector': '.mall-shipping-selector'},
                    loading: $.oc.stripeLoadIndicator,
                    success: function (data) {
                        $('.mall-shipping-selector').html(data['{{ __SELF__ }}::selector'])
                        $.publish('mall.shipping.update', data)
                    }
                })
            });
        })
    </script>
{% endput %}