<div class="mall-my-account">
    <nav class="mall-my-account__nav">
        <div class="mall-my-account__nav-item
                {{ __SELF__.currentPage == 'orders' ? 'mall-my-account__nav-item--active' : '' }}">
            <a href="{{ __SELF__.pageUrl('orders') }}">{{ 'offline.mall::frontend.orders' | trans }}</a>
        </div>
        <div class="mall-my-account__nav-item
                {{ __SELF__.currentPage == 'profile' ? 'mall-my-account__nav-item--active' : '' }}">
            <a href="{{ __SELF__.pageUrl('profile') }}">{{ 'offline.mall::frontend.profile' | trans }}</a>
        </div>
        <div class="mall-my-account__nav-item
                {{ __SELF__.currentPage == 'addresses' ? 'mall-my-account__nav-item--active' : '' }}">
            <a href="{{ __SELF__.pageUrl('addresses') }}">{{ 'offline.mall::frontend.addresses' | trans }}</a>
        </div>
        <div class="mall-my-account__nav-item">
            <a href="javascript:;" data-request="onLogout" data-request-data="redirect: '/'">
                {{ 'offline.mall::frontend.session.logout' | trans }}
            </a>
        </div>
    </nav>
    <div class="mall-my-account__content">
        {% partial __SELF__ ~ ('::pages/' ~ __SELF__.currentPage) %}
    </div>
</div>