<tr style="display: none" class="mall-orders-list__details">
    <td colspan="5">
        <div class="mall-order-details">
            <div class="mall-order-details__row">
                <div class="mall-order-details__detail">
                    <h5>{{ 'offline.mall::frontend.order.order_state' | trans }}</h5>
                    {{ order.order_state_label }}
                </div>
                <div class="mall-order-details__detail">
                    <h5>{{ 'offline.mall::frontend.order.payment_state' | trans }}</h5>
                    {{ order.payment_state_label }}
                    {% if not order.isPaid %}
                        {% if order.payment_method.instructions %}
                            <div class="mall-order-details__instructions">
                                {{ order.payment_method.renderInstructions(order) | raw }}
                            </div>
                        {% endif %}
                        <br/>
                        <a href="{{ __SELF__.paymentLink }}?order={{ order.hashId }}">
                            {{ 'offline.mall::frontend.payment_method.pay_now' | trans }}
                        </a>
                    {% endif %}
                </div>
            </div>
            <div class="mall-order-details__row">
                <div class="mall-order-details__detail">
                    <h5>{{ 'offline.mall::frontend.shipping_method' | trans }}</h5>
                    {{ order.shipping.method.name }}
                </div>
                <div class="mall-order-details__detail">
                    <h5>{{ 'offline.mall::frontend.payment_method' | trans }}</h5>
                    {{ order.payment_method.name }}
                </div>
            </div>
            {% if order.tracking_number or order.tracking_url %}
                <div class="mall-order-details__row">
                    <div class="mall-order-details__detail">
                        <h5>{{ 'offline.mall::frontend.shipping_tracking' | trans }}</h5>
                        {% if order.tracking_url %}
                            <a href="{{ order.tracking_url }}" target="_blank"
                               rel="noopener nofollow">
                                {{ order.tracking_url }}
                            </a>
                            {% if order.tracking_number %}
                                <br/>
                            {% endif %}
                        {% endif %}
                        {% if order.tracking_number %}
                            {{ order.tracking_number }}
                        {% endif %}
                    </div>
                </div>
            {% endif %}
            <div class="mall-order-details__row">
                <div class="mall-order-details__detail">
                    <h5>{{ 'offline.mall::frontend.shipping_address' | trans }}</h5>
                    {% partial __SELF__ ~ '::address' address=order.shipping_address %}
                </div>
                <div class="mall-order-details__detail">
                    <h5>{{ 'offline.mall::frontend.billing_address' | trans }}</h5>
                    {% partial __SELF__ ~ '::address' address=order.billing_address %}
                </div>
            </div>

            <div class="mall-order-details__product-list">
                {% partial __SELF__ ~ '::productlist' products=order.products %}
            </div>
        </div>
    </td>
</tr>
