<table class="mall-orders-list__table mall-table">
    <tr>
        <th>#</th>
        <th>{{ 'mall.created_at' | _ }}</th>
        <th>{{ 'mall.order.order_state' | _ }}</th>
        <th>{{ 'mall.order.payment_state' | _ }}</th>
        <th class="text-right">{{ 'mall.total' | _ }}</th>
    </tr>
    {% for order in orders %}
        <tr class="mall-orders-list__order {{ order.isPaid ? '' : 'mall-orders-list__order--unpaid' }}">
            <td>{{ order.order_number }}</td>
            <td>{{ order.created_at }}</td>
            <td>{{ order.order_state_label }}</td>
            <td>
                {% if order.isPaid %}
                    {{ order.payment_state_label }}
                {% else %}
                    <a href="{{ __SELF__.paymentLink }}?order={{ order.hashId }}">
                        {{ order.payment_state_label }}
                    </a>
                {% endif %}
            </td>
            <td class="text-right">{{ order.totalPostTaxesInCurrencyFormatted() | raw }}</td>
        </tr>
        {% partial __SELF__ ~ '::details' order=order %}
    {% endfor %}
</table>