{% if not item.allow_out_of_stock_purchases %}
    <div class="mall-product__property-stock text-{{ stock ? 'green' : 'red' }}">
        {% if stock %}
            {{ 'mall.stock.available' | __(stock, {stock: stock}) }}
        {% else %}
            {{ 'mall.stock.unavailable' | _ }}
        {% endif %}
    </div>
{% endif %}
{% if stock or item.allow_out_of_stock_purchases %}
    <div class="mall-product__add-to-cart-button">
        <button type="submit" data-attach-loading>
            {{ 'mall.cart.add' | _ }}
        </button>
    </div>
{% endif %}