{% if not item.allow_out_of_stock_purchases %}
    <div class="mall-product__property-stock text-{{ stock > 0 ? 'green' : 'red' }}">
        {% if stock > 10 %}
            {{ 'mall.stock.many_available' | _ }}
        {% elseif stock > 0 %}
            {{ 'mall.stock.available' | __(stock, {stock: stock}) }}
        {% else %}
            {{ 'mall.stock.unavailable' | _ }}
        {% endif %}
    </div>
{% endif %}
{% if stock > 0 or item.allow_out_of_stock_purchases %}
    <div class="mall-product__add-to-cart-button">
        <button type="submit" data-attach-loading>
            {{ 'mall.cart.add' | _ }}
        </button>
    </div>
{% endif %}