<h2 class="mall-product__name">{{ item.name }}</h2>

{% if item.description_short %}
    <h3 class="mall-product__description-short">{{ item.description_short }}</h3>
{% endif %}

<div class="mall-product__description">
    {{ item.description | raw }}
</div>

<div class="mall-product__properties">
    {% for entry in item.grouped_properties %}
        <h3 class="mall-product__properties-heading">{{ entry.group.name }}</h3>
        <div class="mall-three-columns">
            {% for value in entry.values %}
                <div class="mall-column">
                    <p>
                        <strong>{{ value.property.name }}</strong><br>
                        {{ value.display_value | raw }} {{ value.property.unit }}
                    </p>
                </div>
            {% endfor %}
        </div>
    {% endfor %}
</div>

{% partial __SELF__ ~ '::images' images=item.all_images %}

{% if __SELF__.showReviews %}
    {% component 'productReviews' %}
{% endif %}