{% put scripts %}
    <script>
        $(function () {
            var $body = $('body');
            var $addToCart = $('.mall-add-to-cart');


            {% if not item.allow_out_of_stock_purchases %}
            $body.on('change', '.js-mall-property-selector', function (e, isInitial) {
                var values = $('.js-mall-property-selector').map(function () {
                    return this.value;
                }).toArray();

                $addToCart.text('Checking stock...');

                $.request('onChangeProperty', {
                    data: {values: values},
                    loading: isInitial ? null : $.oc.stripeLoadIndicator,
                    update: {
                        '{{ __SELF__ }}::addtocart': '.mall-add-to-cart',
                        '{{ __SELF__ }}::price': '.mall-product__price'
                    }
                })
            })
            var firstProperty = $('.js-mall-property-selector:first')
            if (firstProperty.length) {
                firstProperty.trigger('change', true)
            } else {
                {#
                   In case the product has no special properties we simply check the stock once
                   since nothing can be configured afterwards.
                #}
                $.request('onCheckProductStock', {
                    data: {slug: '{{ item.slug }}'},
                    loading: null,
                    update: {
                        '{{ __SELF__ }}::addtocart': '.mall-add-to-cart'
                    }
                })
            }
            {% endif %}

            {# Handle clicks on the image selector for custom field type "image" and "color" #}
            $body.on('click', '.mall-field-selector', function () {
                $(this.dataset.target).val(this.dataset.value);

                $(this).parent().find('.is-active').removeClass('is-active');
                $(this).addClass('is-active');
            });
        })
    </script>
{% endput %}