subject = "{{ 'offline.mall::mail.admin.checkout_succeeded.subject' | trans({number: order.order_number}) }}"
description = "Sent to the shop admin when a checkout has succeeded"
==
{{ 'offline.mall::mail.admin.checkout_succeeded.order_placed' | trans() }}

{% partial 'mall.order.addresses' order=order %}

## {{ 'offline.mall::mail.common.order_details' | trans() }}

{% partial 'mall.order.table' order=order %}

{% partial 'panel' body %}
    {% partial 'mall.order.payment_state' order=order %}
{% endpartial %}

{% partial 'button' url=order_url type='primary' body %}
    {{ 'offline.mall::mail.common.view_order_in_backend' | trans() }}
{% endpartial %}
