subject = "Checkout failed ({{ order.order_number }})"
description = "Sent to the shop admin when a checkout has failed"
==

The following order could not be processed correctly. It is possible that you have to
contact the customer.

## Error details

Payment ID: {{ order.payment_log.id }}
Message: {{ order.payment_log.message }}

{% partial 'mall.order.addresses' order=order %}

## Order details
{% partial 'mall.order.table' order=order %}


{% partial 'button' url=order_url type='primary' body %}
    View order in store backend
{% endpartial %}
