subject = "{{ 'offline.mall::mail.checkout.succeeded.subject' | trans({number: order.order_number}) }}"
description = "Sent when a checkout has succeeded"
==
{{ 'offline.mall::mail.common.hello' | trans({firstname: order.customer.firstname, lastname: order.customer.lastname}) }}

{{ 'offline.mall::mail.checkout.succeeded.thanks_for_order' | trans() }}:

{% partial 'mall.order.table' order=order %}

{% partial 'panel' body %}
    {% partial 'mall.order.payment_state' order=order %}
{% endpartial %}

{{ 'offline.mall::mail.checkout.succeeded.check_order_status' | trans() }}

{% partial 'button' url=account_url type='primary' body %}
    {{ 'offline.mall::mail.common.view_order_status_online' | trans() }}
{% endpartial %}
