<div>
    <label>Number</label>
    <input type="text" name="payment_data[number]">
    <div data-validate-for="payment_data[number]"></div>
</div>
<div>
    <label>Expiry</label>
    <input type="text" name="payment_data[expiryMonth]">
    <div data-validate-for="payment_data[expiryMonth]"></div>
</div>
<div>
    <label>Year</label>
    <input type="text" name="payment_data[expiryYear]">
    <div data-validate-for="payment_data[expiryYear]"></div>
</div>
<div>
    <label>cvv</label>
    <input type="text" name="payment_data[cvv]">
    <div data-validate-for="payment_data[cvv]"></div>
</div>