{% if __SELF__.isClickAndCollectEnabled %}
<tr class="mall-cart__clickandcollect">
    <td></td>
    <td colspan="3">
            {{ 'offline.mall::lang.click_and_collect.pay_online' | trans }}       
    </td>
    <td class="text-right">
            {{ (totals.productPostTaxes * __SELF__.clickAndCollectRate/100)|round| money }}
    </td>
</tr>
<tr class="mall-cart__clickandcollect">
    <td></td>
    <td colspan="3">
            {{ 'offline.mall::lang.click_and_collect.pay_instore' | trans }}
    </td>
    <td class="text-right">
         {{ (totals.productPostTaxes- (totals.productPostTaxes * __SELF__.clickAndCollectRate/100)) | money }}
    </td>
</tr>

{% endif %}