{% for entry in discounts %}
    <tr class="mall-cart__discount">
        <td></td>
        <td colspan="3">
            {{ entry.discount.name }}
            {% if entry.discount.code %}
                ({{ entry.discount.code }})
            {% endif %}
        </td>
        <td class="text-right">
            {{ entry.savings | money }}
        </td>
        <td class="text-center">
            {% if entry.discount.code %}
                <div>
                    <a href="javascript:;"
                        class="js-mall-remove-discount-code"
                        data-id="{{ entry.discount.id }}"
                    >
                        <i class="icon-trash icons--small" title="{{ 'offline.mall::frontend.remove' | trans }}"></i>
                    </a>
                </div>
            {% endif %}
        </td>
    </tr>
{% endfor %}
