{% if __SELF__.showTaxes %}
    {% for entry in totals.taxes %}
        <tr class="mall-cart__taxes mall-cart__taxes--{{ loop.index }}">
            <td colspan="2"></td>
            <td class="text-right">
                {{ entry.tax.name }}
            </td>
            <td class="text-right">
                {{ entry.tax.percentage }} %
            </td>
            <td class="text-right">
                {{ entry.total | money }}
            </td>
        </tr>
    {% endfor %}

    {% if totals.taxes.count > 1 %}
        <tr class="mall-cart__taxes-total">
            <td colspan="2"></td>
            <td class="text-right">
                {{ 'offline.mall::frontend.total.taxes' | trans }}
            </td>
            <td></td>
            <td class="text-right">
                {{ totals.totalTaxes | money }}
            </td>
        </tr>
    {% endif %}
{% endif %}