{% put scripts %}
    <script>
        $(function () {
            {# Track the quantity selector and reload available payment
               methods if the quantity and therefore the totals have changed. #}
            $.subscribe('mall.cart.update', function () {
                $.request('{{ __SELF__ }}::onRun', {
                    update: {'{{ __SELF__ }}::selector': '.mall-payment-method-selector'},
                    success: function (data) {
                        $('.mall-payment-method-selector').html(data['{{ __SELF__ }}::selector'])
                    }
                })
            })

            $('body').on('click', '.js-mall-select-payment-method', function () {
                $.request('{{ __SELF__ }}::onChangeMethod', {
                    data: {id: this.dataset.id},
                    update: {'{{ __SELF__ }}::selector': '.mall-payment-method-selector'},
                    loading: $.oc.stripeLoadIndicator,
                    success: function (data) {
                        $('.mall-payment-method-selector').html(data['{{ __SELF__ }}::selector'])
                        $.publish('mall.payment-method.update', data)
                    }
                })
            });
        })
    </script>
{% endput %}